@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&family=League+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

nav {
  position: relative;
  z-index: 999;
}

nav .nav_menu {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  background: #161a1d;
  color: #fff;
}

@media screen and (max-width: 414px) {
  nav .nav_menu {
    height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
}

nav .nav_menu a {
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  color: #fff;
  font-size: 34px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav_menu a:hover {
  -webkit-filter: invert(60%) sepia(4%) saturate(3078%) hue-rotate(345deg) brightness(90%) contrast(90%);
          filter: invert(60%) sepia(4%) saturate(3078%) hue-rotate(345deg) brightness(90%) contrast(90%);
}

nav .nav_menu .menu_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 414px) {
  nav .nav_menu .menu_data {
    display: none;
  }
}

nav .nav_menu .menu_data .introduction {
  position: relative;
  cursor: pointer;
}

nav .nav_menu .menu_data .introduction:hover .introduction_menu {
  display: block;
}

nav .nav_menu .menu_data .introduction .introduction_title {
  width: 120px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

nav .nav_menu .menu_data .introduction .introduction_menu {
  position: absolute;
  background: #660708;
  color: #fff;
  width: 100%;
  display: none;
  padding: 20px;
}

nav .nav_menu .menu_data .introduction .introduction_menu a {
  font-size: 16px;
}

nav .nav_menu .menu_data .introduction .introduction_menu a p {
  margin-bottom: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

nav .nav_menu .menu_data .introduction .introduction_menu a p:hover {
  background: #aaa;
}

@media screen and (max-width: 414px) {
  .nav_img {
    display: none;
  }
}

.nav_img a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 10px;
}

.nav_img a:hover {
  -webkit-filter: invert(24%) sepia(92%) saturate(1716%) hue-rotate(24deg) brightness(94%) contrast(101%);
          filter: invert(24%) sepia(92%) saturate(1716%) hue-rotate(24deg) brightness(94%) contrast(101%);
}

@media screen and (max-width: 414px) {
  .nav_img a {
    margin: 0 5px;
  }
}

.nav_img a img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 414px) {
  .nav_img a img {
    width: 24px;
    height: 24px;
  }
}

.menu {
  display: none;
}

@media screen and (max-width: 414px) {
  .menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.mb_menu {
  display: none;
}

@media screen and (max-width: 414px) {
  .mb_menu {
    display: block;
    width: 80%;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mb_menu .mb_menu_data {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mb_menu .mb_menu_data .back {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .mb_menu .mb_menu_data .one_menu {
    padding-top: 60px;
  }
  .mb_menu .mb_menu_data .one_menu h3 {
    font-size: 36px;
    text-align: center;
  }
  .mb_menu .mb_menu_data .one_menu ul {
    list-style: none;
  }
  .mb_menu .mb_menu_data .one_menu ul li {
    text-align: center;
    margin-bottom: 10px;
  }
  .mb_menu .mb_menu_data .one_menu ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-size: 24px;
  }
}

.banner {
  position: relative;
  padding-top: 80px;
}

@media screen and (max-width: 414px) {
  .banner {
    padding-top: 60px;
  }
}

.banner .banner_data {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  z-index: 20;
  font-size: 36px;
}

.banner .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100vh;
}

.slick {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .slick {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 414px) {
  .slick {
    display: none;
  }
}

.slick_mb {
  display: none;
}

@media screen and (max-width: 414px) {
  .slick_mb {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100vh;
  }
}

.self {
  background: #fff;
  margin-top: 20px;
}

.self .introduction {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  height: 400px;
}

@media screen and (max-width: 414px) {
  .self .introduction {
    background-position: 0 0;
  }
}

.self .introduction h3 {
  margin: 30px;
  padding: 10px 20px;
  color: #fff;
  font-size: 40px;
  border: 1px solid #fff;
  display: inline-block;
}

.self .introduction_data .data {
  padding: 0 10px;
}

.self .introduction_data .data p {
  font-size: 36px;
  font-weight: bold;
}

.self .introduction_data .data hr {
  margin: 5px 0;
}

.self .introduction_data .data ul {
  list-style-type: none;
}

.self .introduction_data .data ul li {
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-cube-transition,
.la-cube-transition > div {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.la-cube-transition {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-cube-transition.la-dark {
  color: #333;
}

.la-cube-transition > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-cube-transition {
  width: 32px;
  height: 32px;
}

.la-cube-transition > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-left: -7px;
  border-radius: 0;
  -webkit-animation: cube-transition 1.6s 0s infinite ease-in-out;
  animation: cube-transition 1.6s 0s infinite ease-in-out;
}

.la-cube-transition > div:last-child {
  -webkit-animation-delay: -.8s;
  animation-delay: -.8s;
}

.la-cube-transition.la-sm {
  width: 16px;
  height: 16px;
}

.la-cube-transition.la-sm > div {
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;
}

.la-cube-transition.la-2x {
  width: 64px;
  height: 64px;
}

.la-cube-transition.la-2x > div {
  width: 28px;
  height: 28px;
  margin-top: -14px;
  margin-left: -14px;
}

.la-cube-transition.la-3x {
  width: 96px;
  height: 96px;
}

.la-cube-transition.la-3x > div {
  width: 42px;
  height: 42px;
  margin-top: -21px;
  margin-left: -21px;
}

/*
  * Animation
  */
@-webkit-keyframes cube-transition {
  25% {
    top: 0;
    left: 100%;
    -webkit-transform: scale(0.5) rotate(-90deg);
    transform: scale(0.5) rotate(-90deg);
  }
  50% {
    top: 100%;
    left: 100%;
    -webkit-transform: scale(1) rotate(-180deg);
    transform: scale(1) rotate(-180deg);
  }
  75% {
    top: 100%;
    left: 0;
    -webkit-transform: scale(0.5) rotate(-270deg);
    transform: scale(0.5) rotate(-270deg);
  }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(-360deg);
    transform: scale(1) rotate(-360deg);
  }
}

@keyframes cube-transition {
  25% {
    top: 0;
    left: 100%;
    -webkit-transform: scale(0.5) rotate(-90deg);
    transform: scale(0.5) rotate(-90deg);
  }
  50% {
    top: 100%;
    left: 100%;
    -webkit-transform: scale(1) rotate(-180deg);
    transform: scale(1) rotate(-180deg);
  }
  75% {
    top: 100%;
    left: 0;
    -webkit-transform: scale(0.5) rotate(-270deg);
    transform: scale(0.5) rotate(-270deg);
  }
  100% {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) rotate(-360deg);
    transform: scale(1) rotate(-360deg);
  }
}

body {
  background: #eee;
}

.size {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

footer {
  background: #000;
  color: #fff;
  padding: 50px;
  text-align: center;
}

.videos {
  display: block;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.wrapp_main {
  width: 100%;
  height: 100vh;
  background: #660708;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.wrapp_main .wrapping {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */